  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
  }

 body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 }
  /* Fundo espacial */
#space-background {
  position: fixed;
  inset: 0;
  overflow: hidden;
  background: #02030a;
  z-index: -1;
}

/* Estrelas */
.stars {
  background: url("https://i.imgur.com/7l5fK94.png") repeat;
  width: 300%;
  height: 300%;
  position: absolute;
  top: -100%;
  left: -100%;
  animation: moveStars 160s linear infinite;
  opacity: 0.6;
}

@keyframes moveStars {
  0% { transform: translate(0,0); }
  100% { transform: translate(1000px, 1000px); }
}

/* Planetas */
.planet {
  position: absolute;
  animation: floatPlanet 18s ease-in-out infinite;
}

.planet img {
  width: 200px;
  filter: drop-shadow(0 0 10px rgba(255,255,255,0.6));
}

/* Saturno destaque */
.saturn img {
  width: 380px; /* maior */
  animation: rotateSaturn 35s linear infinite;
}

@keyframes rotateSaturn {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Outras posições e tamanhos */
.planet1 {
  top: 10%;
  left: 70%;
}
.planet1 img {
  width: 150px;
}

.planet2 {
  top: 70%;
  left: 10%;
}
.planet2 img {
  width: 120px;
}
/* PLANETA 3 - Roxo brilhante */
.planet3 {
  top: 25%;
  left: 20%;
  animation-duration: 22s;
}
.planet3 img {
  width: 130px;
}

/* PLANETA 4 - Verde gelo */
.planet4 {
  top: 55%;
  left: 80%;
  animation-duration: 26s;
}
.planet4 img {
  width: 160px;
}

/* PLANETA 5 - Vermelho escuro */
.planet5 {
  top: 8%;
  left: 45%;
  animation-duration: 30s;
}
.planet5 img {
  width: 190px;
}

/* PLANETA 6 - Azul neon */
.planet6 {
  top: 75%;
  left: 60%;
  animation-duration: 24s;
}
.planet6 img {
  width: 110px;
}

/* PLANETA 7 - Mini planeta laranja */
.planet7 {
  top: 40%;
  left: 5%;
  animation-duration: 20s;
}
.planet7 img {
  width: 90px;
}
/* Animação de flutuar */
@keyframes floatPlanet {
  0% { transform: translateY(0); }
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0); }
}

  }

  .container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    color: white;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(10px); 
  }

  .container h1 {
    font-size: 36px;
    text-align: center;
  } 

  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }  

  .input-box input {
    width: 100%;
    height: 100%; 
    background-color: transparent;
    border: 2px solid violet;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 20px 45px 20px 20px;

  }

  input-box input ::placeholder {
    color: rgba(121, 121, 121, 0.5);
  }

  .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }

  .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -15px 0 15px;
  }

  /*
    Margin e padding

    1 valor - margin: 20px - Todos os lados
    2 valores - margin: 20px 10px - vertical | horizontal.
    3 valores - margin: 20px 10px 5px - cima | horizontal | baixo.
    4 valores - margin: 20px 10px 5px 15px - cima | direita | baixo | esquerda.

  */

  .remember-forgot label input {
    accent-color: white;
    margin-right: 5px;
  }

  .remember-forgot a {
    color: white;
    text-decoration: none;
  }

  .remember-forgot a:hover {
    text-decoration: underline;
  }

  .login  {
    width: 100%;
    height: 50px;
    background-color: violet;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-top: 20px;
  }

   .login:hover {
    background-color: white;
    border: 2px solid white;
   }

   .registre-se {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
   }

   .registre-se a {
    color: white;
    text-decoration: none;
    font-weight: 600;
   }

    .registre-se a:hover {
      text-decoration: underline;

    }
