  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
  }

 body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(img/360_F_415877698_c1VY6BMnUbNxh7Or80VDZAWng4UoGfWi.jpg);
  background-size: cover;
  background-position: center;
  }

  .container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    color: white;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(10px); 
  }

  .container h1 {
    font-size: 36px;
    text-align: center;
  } 

  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }  

  .input-box input {
    width: 100%;
    height: 100%; 
    background-color: transparent;
    border: 2px solid violet;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 20px 45px 20px 20px;

  }

  input-box input ::placeholder {
    color: rgba(121, 121, 121, 0.5);
  }

  .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }

  .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -15px 0 15px;
  }

  /*
    Margin e padding

    1 valor - margin: 20px - Todos os lados
    2 valores - margin: 20px 10px - vertical | horizontal.
    3 valores - margin: 20px 10px 5px - cima | horizontal | baixo.
    4 valores - margin: 20px 10px 5px 15px - cima | direita | baixo | esquerda.

  */

  .remember-forgot label input {
    accent-color: white;
    margin-right: 5px;
  }

  .remember-forgot a {
    color: white;
    text-decoration: none;
  }

  .remember-forgot a:hover {
    text-decoration: underline;
  }

  .login  {
    width: 100%;
    height: 50px;
    background-color: violet;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-top: 20px;
  }

   .login:hover {
    background-color: white;
    border: 2px solid white;
   }

   .registre-se {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
   }

   .registre-se a {
    color: white;
    text-decoration: none;
    font-weight: 600;
   }

    .registre-se a:hover {
      text-decoration: underline;
    }